## Build folders
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo

## Rider
.idea/

## VS Code
.vscode/

## Build files
*.dll
*.exe
*.pdb

## Logs
*.log

## User Secrets
secrets.json

## OS files
Thumbs.db
Desktop.ini